apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-deployment
  namespace: dev-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      name: nginx-pod
      labels:
        app: webapp
    spec:
      containers:
        - name: nginx-container
          image: nginx
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: replica-svc
  namespace: dev-ns
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30555
      name: nginxapp

# to delte deployment
# kubectl delete deployment sample-deployment -n dev-ns
# kubecttl rollout status deployment sample-deployment -n dev-ns
# kubecttl rollout history deployment sample-deployment -n dev-ns
# kubecttl rollout history deployment sample-deployment -n dev-ns --revision 1 [this will give details of pod template]
# kubectl rollout undo deployment sample-deployment --to-revision=2 -n test-ns
# kubectl apply -f Deployment.yaml --record=true [this will show p in the revision history]