apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-recreate-deploymnet
  namespace: test-ns
spec:
  replicas: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      name: nginx-app
      labels:
        app: webapp
    spec:
      containers:
        - name: nginx-cont
          image: nginx
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: recreate-svc
  namespace: test-ns
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
      - port: 80
        targetPort: 80
        nodePort: 30666
        name: nginxapp